# Postgres Environment Variables
POSTGRES_USER=<replace_me_username>
POSTGRES_PASSWORD=<replace_me_password>
POSTGRES_DB=<replace_me_dbname>

# Client Environment Variables
VITE_PROXY_URL=http://api:8000

# Server Environment Variables